<div class="main-view">
    <ng-container *ngIf="(!concept && !children && !parents) || (!concept && concept?.active === true)">
        <div class="container-fluid">
            <div class="row">
                <div id="base-search" class="col">
                    <div class="searchbox m-3">
                        <h1 class="text-center p-5">SNOMED CT</h1>
                        <div class="input-group mb-3 rounded-pill position-relative">
                            <span class="input-group-text search-start"><i class="fas fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Enter a concept ID..." [(ngModel)]="textField" (keyup.enter)="searchConcept(textField)">
                            <span *ngIf="textField" class="cross" (click)="textField = ''"><i class="fas fa-times"></i></span>
                        </div>
                        <div class="text-center">
                            <button class="btn m-4 px-5 py-3 rounded-pill bg-fruit-salad bg-fruit-salad-hover" [routerLink]="textField" (click)="searchConcept(textField)">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="(concept && children && parents) || (concept && concept.active === false)">
        <div class="container-fluid">
            <div class="row border-bottom">
                <div id="top-search" class="p-5 col-6">
                    <h2 class="d-inline-block text-center mb-0 pe-4">SNOMED CT</h2>
                    <div class="d-inline-block input-group rounded-pill position-relative">
                        <input type="text" class="form-control px-3" placeholder="Enter a concept ID..." [(ngModel)]="textField" (keyup.enter)="searchConcept(textField)">
                        <span *ngIf="textField" class="cross" (click)="textField = ''"><i class="fas fa-times"></i></span>
                    </div>
                    <button class="d-inline-block btn ms-4 px-4 py-2 rounded-pill bg-fruit-salad bg-fruit-salad-hover" [routerLink]="textField" (click)="searchConcept(textField)">Search</button>
                </div>
            </div>
            <div class="row">
                <div id="details">
                    <div class="row p-5">
                        <div class="col-9">
                            <h2 class="mb-3">{{concept.fsn.term}}</h2>
                            <h3 class="mb-3">{{concept.conceptId}}</h3>
                            <h3 class="mb-3">{{findEditionOrExtension(concept.moduleId)}}<div class="phoca-flagbox ms-4 mb-2"><span class="phoca-flag {{findFlag(concept.moduleId)}}"></span></div></h3>
                            <h3 *ngIf="!concept?.active" class="inactive mb-3">INACTIVE</h3>
                        </div>
                        <div class="col-3 text-end">
                            <button class="btn px-5 py-3 rounded-pill bg-cerulean bg-cerulean-hover" (click)="browserLink()">SHOW IN BROWSER<i class="fas fa-external-link-alt ps-3"></i></button>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col mb-5">
                            <h2 class="mb-3">Descriptions
                                <span class="ps-3">{{(concept.descriptions | description).length}}</span>
                            </h2>
                            <div class="section descriptions bg-cerulean-light">
                                <ng-container *ngFor="let description of concept.descriptions | description; let i = index; let odd = odd; let first = first; let last = last">
                                    <p class="px-3 py-2 pe-5 m-0 position-relative" [class.odd]="odd" [class.first]="first" [class.last]="last">
                                        {{description.term}}
                                        <span class="lang float-end">{{description.lang}}</span>
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <h2 class="mb-3">Attributes
                                <span class="ps-3">INFERRED</span>
                            </h2>
                            <div *ngIf="(concept.relationships | active).length > 0" class="attribute-box p-3">
                                <div *ngFor="let relationship of concept.relationships | active | ungroup">
                                    <p *ngIf="relationship.groupId === 0" class="px-3 py-2 m-0">
                                        {{relationship.type?.pt.term}}<i class="fas fa-arrow-right px-3"></i>{{relationship.concreteValue ? relationship.concreteValue.value : relationship.target?.pt.term}}
                                    </p>
                                </div>
                                <div *ngFor="let group of counter(calculateTotalGroups(concept.relationships | active)); let i = index; let even = even; let odd = odd; let last = last" class="section attributes" [class.even]="even" [class.odd]="odd" [class.mb-3]="!last">
                                    <ng-container *ngFor="let relationship of concept.relationships | active | group; let first = first; let last = last">
                                        <p *ngIf="relationship.groupId !== 0 && relationship.groupId === (i + 1)" class="px-3 py-2 m-0" [class.first]="first" [class.last]="last">
                                            {{relationship.type?.pt.term}}<i class="fas fa-arrow-right px-3"></i>{{relationship.concreteValue ? relationship.concreteValue.value : relationship.target?.pt.term}}
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <h2 class="mb-3">Parents
                                <span class="ps-3">{{parents?.length}}</span>
                            </h2>
                            <div *ngIf="parents?.length" class="section parents bg-white">
                                <p *ngFor="let parent of parents; let i = index; let even = even; let first = first; let last = last"  [class.even]="even" [class.first]="first" [class.last]="last" class="px-3 py-2 m-0">
                                    {{parent.fsn.term}}
                                </p>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <h2 class="mb-3">Direct Children
                                <span class="ps-3">{{children?.length}}</span>
                            </h2>
                            <div *ngIf="children?.length" class="section children bg-white">
                                <p *ngFor="let child of children; let i = index; let even = even; let first = first; let last = last"  [class.even]="even" [class.first]="first" [class.last]="last" class="px-3 py-2 m-0">
                                    {{child.fsn.term}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="loading" id="loading" class="m-auto">
    <i class="fas fa-circle-notch fa-spin"></i>
</div>
